# Build
target/
*.jar
*.war

# Git
.git/
.gitignore
.github/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Logs
*.log
logs/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS
.DS_Store
Thumbs.db

# Others
node_modules/
README.md